#
Bazaar/nginx/nginx/
Bazaar/nginx/ngx_ext_modules/lua-nginx-module/
Bazaar/nginx/ngx_ext_modules/ws_server/websocketpp/
Bazaar/tools/
Examples/Communication/C/executables/
Examples/Communication/C/iic/iic_test
Examples/Communication/C/uart/uart_test
Test/acquire/acquire
Test/bode/bode
Test/calib/calib
Test/generate/generate
Test/lcr/lcr
Test/monitor/monitor
Test/monitor_old/monitor_old
Test/spectrum/spectrum
apps-free/stemlab_vna/vna
apps-tools/streaming_manager/src/server/CMakeCache.txt
apps-tools/streaming_manager/src/server/CMakeFiles/
apps-tools/streaming_manager/src/server/Makefile
apps-tools/streaming_manager/src/server/bin/
apps-tools/streaming_manager/src/server/cmake_install.cmake
apps-tools/streaming_manager/src/server/libs/CMakeFiles/
apps-tools/streaming_manager/src/server/libs/Makefile
apps-tools/streaming_manager/src/server/libs/cmake_install.cmake
apps-tools/streaming_manager/src/server/targets/CMakeFiles/
apps-tools/streaming_manager/src/server/targets/Makefile
apps-tools/streaming_manager/src/server/targets/cmake_install.cmake
apps-tools/streaming_manager/src/server/targets/server_linux_test/CMakeFiles/
apps-tools/streaming_manager/src/server/targets/server_linux_test/Makefile
apps-tools/streaming_manager/src/server/targets/server_linux_test/cmake_install.cmake
apps-tools/updater/daemon
boot_uboot.bif
build/
tmp/
dl/
generate_DC/generate_DC
generate_DC/generate_DC_LO
scpi-server/scpi-parser/
scpi-server/scpi-server
stemlab_vna-*.zip
streaming_manager-*.zip
ecosystem-*.zip
#fpga
fpga/synReport*
fpga/vivado*
fpga/prj/*/.Xil
fpga/prj/*/.srcs
fpga/prj/*/out
fpga/prj/*/sdk
fpga/prj/*/fsm_encoding.os
fpga/prj/*/usage_statistics*
fpga/prj/*/project
fpga/prj/*/*.log
# Object files
*.o
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# backups
*~
